.App {
  text-align: center;
}

.App-textarea {
  display: inline-block;
  vertical-align: top;
  height: 600px;
  width: 16rem;
  float: none;
  margin: 0.5rem 1rem;
  padding: .5rem .75rem;
  line-height: 1.25;
  border: 1px solid rgba(0,0,0,.15);
}
